nav{
    background-color: #4c4d4d;
    height: 80px;
    background-size:cover;
    position:sticky;
    top:0;
    z-index: 1000;
    margin: 0 auto;
    font-family: "Play", sans-serif;
}

ul>li{
    list-style-type: none;
}
.nav-links{
    max-width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}
.nav-links li:hover{
    cursor: pointer;
    border-bottom: 3px solid #8a8c8e;
}
/* .nav-links li .active{
    border-bottom: 3px solid #8a8c8e;
} */
.nav-links li a{
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    
}

.icon{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

@media (max-width: 768px){
    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .icon{
        color: #fff;
        display: block;
        padding-right: 30px;
        float: right;
        font-size: 2rem;
    }

    .nav-links{
        min-width: 100vw;
        background-image: url('../../assets/bg-nav.jpg');
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        top: -700px;
        height: 80vh;
        
    }
    .nav-links li a{
        color: #fff;
    }
    .nav-links.active{
        top: 80px;
        width: fu;;;
        background: #4c4d4d;
    }
    .bars-icon{
        background-color: transparent;
        padding-right: 10px;
    }
}